.banner {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/banner.png"),
    linear-gradient(1deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.375rem /* 6px */;
  display: grid;
  place-items: center;
}

.law-card {
  background: linear-gradient(180deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
}

@media (min-width: 768px) {
  .child {
    border-right-width: 1px;
  }

  .text-law {
    border-right-width: 1px;
  }

  .divorce {
    border-bottom-width: 0px;
  }
}

@media (min-width: 1024px) {
  .child {
    border-right-width: 0px !important;
  }

  .text-law {
    border-right-width: 0px !important;
  }
  .education-law {
    border-bottom-width: 0px;
  }
}

@media (min-width: 640px) {
  .email {
    border-bottom-width: 0px;
  }
}
